* {
    margin: 0px;
    padding: 0px;
   
}
body {
    height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
ul{
    font-size: 13px !important;
    color: black;
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 5px;
    align-items: center;  
}


li {
    padding: 15px 8px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

form {
    
  position: relative;
  margin-top: 30px;
  font-size: 14px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
    padding: 100px;
}

.logo {
    display: flex; 
    justify-content: right;
}

.logo_img {
    margin-left: -43px !important; 
    margin-top: 71px !important;
    color: #4285f4
}

.form_text {
    width: 550px;
    height: 40px;
    padding-left: 38px; ;
    border-radius: 40px;
    border: 0.1px solid #cabbbb;
    outline: none;
}

.form_text:hover{
    box-shadow: rgba(180, 160, 160, 0.24) 0px 3px 8px;
}

.form_sub {
    padding: 8px 12px;
    background-color: #f8f9f9;
    border-radius: 5px ;
    border: 0px;
    outline: none;
    font-size: 14px;
    color: rgb(25, 25, 27);
}

.button {
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 20px;
}

.ul_img{
    height: auto;
    width: 25px;
}
.searchicon_search{
    top: 13px;
    left: 10px;
    height: 17px;
    width: auto;
    position: absolute;
  }
.searchicon_mic{
    height: 18px;
    width: auto;
    position: absolute; 
    margin-left: 560px;
    margin-top: 12px;

}
.offered{
    color: #3c4043;
    display: inline-block;
    text-align: center;
    margin: 10px;
} 

.uU7dJb {
    padding: 50px 0px;
    font-size: 15px;
    background-color: #d9d9da;
    display: flex;
    

}
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #e7e5e5;
    
}